<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gerenxinxi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JsjianjieSaveServlet</display-name>
    <servlet-name>JsjianjieSaveServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsjianjieSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsjianjieSaveServlet</servlet-name>
    <url-pattern>/JsjianjieSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsIndexServlet</display-name>
    <servlet-name>JsIndexServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsIndexServlet</servlet-name>
    <url-pattern>/JsIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsTxShowServlet</display-name>
    <servlet-name>JsTxShowServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsTxShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsTxShowServlet</servlet-name>
    <url-pattern>/JsTxShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsTxUpdateServlet</display-name>
    <servlet-name>JsTxUpdateServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsTxUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsTxUpdateServlet</servlet-name>
    <url-pattern>/JsTxUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsXitongTxSaveServlet</display-name>
    <servlet-name>JsXitongTxSaveServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsXitongTxSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsXitongTxSaveServlet</servlet-name>
    <url-pattern>/JsXitongTxSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JssjianjieShowServlet</display-name>
    <servlet-name>JssjianjieShowServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JssjianjieShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JssjianjieShowServlet</servlet-name>
    <url-pattern>/JssjianjieShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsXinxiShowServlet</display-name>
    <servlet-name>JsXinxiShowServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsXinxiShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsXinxiShowServlet</servlet-name>
    <url-pattern>/JsXinxiShowServlet</url-pattern>
  </servlet-mapping>
</web-app>