<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pingjiaomokuai</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>XsXueshengServlet</servlet-name>
    <servlet-class>cn.scau.xuesheng.web.servlet.XsXueshengServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XsXueshengServlet</servlet-name>
    <url-pattern>/XsXueshengServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XsPingjiaoServlet</display-name>
    <servlet-name>XsPingjiaoServlet</servlet-name>
    <servlet-class>cn.scau.xuesheng.web.servlet.XsPingjiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XsPingjiaoServlet</servlet-name>
    <url-pattern>/XsPingjiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XsJiaoshiServlet</display-name>
    <servlet-name>XsJiaoshiServlet</servlet-name>
    <servlet-class>cn.scau.xuesheng.web.servlet.XsJiaoshiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XsJiaoshiServlet</servlet-name>
    <url-pattern>/XsJiaoshiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XspingjiaoshujuServlet</display-name>
    <servlet-name>XspingjiaoshujuServlet</servlet-name>
    <servlet-class>cn.scau.xuesheng.web.servlet.XspingjiaoshujuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XspingjiaoshujuServlet</servlet-name>
    <url-pattern>/XspingjiaoshujuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsJiaoxuebanServlet</display-name>
    <servlet-name>JsJiaoxuebanServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsJiaoxuebanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsJiaoxuebanServlet</servlet-name>
    <url-pattern>/JsJiaoxuebanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsJiaoshiServlet</display-name>
    <servlet-name>JsJiaoshiServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsJiaoshiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsJiaoshiServlet</servlet-name>
    <url-pattern>/JsJiaoshiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsPingjiaoshujuServlet</display-name>
    <servlet-name>JsPingjiaoshujuServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsPingjiaoshujuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsPingjiaoshujuServlet</servlet-name>
    <url-pattern>/JsPingjiaoshujuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdJiaoshiServlet</display-name>
    <servlet-name>AdJiaoshiServlet</servlet-name>
    <servlet-class>cn.scau.admin.web.servlet.AdJiaoshiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdJiaoshiServlet</servlet-name>
    <url-pattern>/AdJiaoshiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckJianyisServlet</display-name>
    <servlet-name>CheckJianyisServlet</servlet-name>
    <servlet-class>cn.scau.admin.web.servlet.CheckJianyisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckJianyisServlet</servlet-name>
    <url-pattern>/CheckJianyisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectJianyiServlet</display-name>
    <servlet-name>SelectJianyiServlet</servlet-name>
    <servlet-class>cn.scau.admin.web.servlet.SelectJianyiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectJianyiServlet</servlet-name>
    <url-pattern>/SelectJianyiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdShowxqxnServlet</display-name>
    <servlet-name>AdShowxqxnServlet</servlet-name>
    <servlet-class>cn.scau.admin.web.servlet.AdShowxqxnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdShowxqxnServlet</servlet-name>
    <url-pattern>/AdShowxqxnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsJiaoxuebanXinxiServlet</display-name>
    <servlet-name>JsJiaoxuebanXinxiServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsJiaoxuebanXinxiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsJiaoxuebanXinxiServlet</servlet-name>
    <url-pattern>/JsJiaoxuebanXinxiServlet</url-pattern>
  </servlet-mapping>
</web-app>