<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jiaoxuerili</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JsJiaoxuebanServlet</display-name>
    <servlet-name>JsJiaoxuebanServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsJiaoxuebanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsJiaoxuebanServlet</servlet-name>
    <url-pattern>/JsJiaoxuebanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsJxriliSaveServlet</display-name>
    <servlet-name>JsJxriliSaveServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsJxriliSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsJxriliSaveServlet</servlet-name>
    <url-pattern>/JsJxriliSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsJxriliShowServlet</display-name>
    <servlet-name>JsJxriliShowServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsJxriliShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsJxriliShowServlet</servlet-name>
    <url-pattern>/JsJxriliShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XsIndexServlet</display-name>
    <servlet-name>XsIndexServlet</servlet-name>
    <servlet-class>cn.scau.xuesheng.web.servlet.XsIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XsIndexServlet</servlet-name>
    <url-pattern>/XsIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsIndexServlet</display-name>
    <servlet-name>JsIndexServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsIndexServlet</servlet-name>
    <url-pattern>/JsIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsKechengServlet</display-name>
    <servlet-name>JsKechengServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsKechengServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsKechengServlet</servlet-name>
    <url-pattern>/JsKechengServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XsKechengServlet</display-name>
    <servlet-name>XsKechengServlet</servlet-name>
    <servlet-class>cn.scau.xuesheng.web.servlet.XsKechengServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XsKechengServlet</servlet-name>
    <url-pattern>/XsKechengServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsShowSameJxbServlet</display-name>
    <servlet-name>JsShowSameJxbServlet</servlet-name>
    <servlet-class>cn.scau.jiaoshi.web.servlet.JsShowSameJxbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsShowSameJxbServlet</servlet-name>
    <url-pattern>/JsShowSameJxbServlet</url-pattern>
  </servlet-mapping>
</web-app>